In [1]:
from numpy import NaN, NAN, nan

In [2]:
NaN == True

False

In [3]:
Nan == False

NameError: name 'Nan' is not defined

In [4]:
NaN == False?

In [5]:
NaN == False

False

In [6]:
pd.isnull(NaN)

NameError: name 'pd' is not defined

In [7]:
import pandas as pd

In [10]:
#the way to check whether missing value is True
pd.isnull(NaN)

True

In [20]:
# if you use that, it will be an empty string 
visited = pd.read_csv('./data/survey_visited.csv', keep_default_na=False, na_values=[''])

In [21]:
visited

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [23]:
visited.dated

0    1927-02-08
1    1927-02-10
2    1939-01-07
3    1930-01-12
4    1930-02-26
5           NaN
6    1932-01-14
7    1932-03-22
Name: dated, dtype: object

In [25]:
#cannot find missing values like this
visited.dated == NaN

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: dated, dtype: bool

In [27]:
#instead should do this
pd.isnull(visited.dated)

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
Name: dated, dtype: bool

In [28]:
#index number 5

In [31]:
visited.ix[pd.isnull(visited.dated)]

   ident  site dated
5    752  DR-3   NaN

In [ ]:
import seaborn as sns