In [1]:
from numpy import NaN, NAN, nan
import pandas as pd

In [2]:
NaN == True

False

In [3]:
NaN == False

False

In [4]:
pd.isnull(NaN)

True

In [5]:
visited = pd.read_csv('../data/survey_visited.csv')

In [6]:
visited

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [7]:
visited = pd.read_csv('../data/survey_visited.csv',
                      keep_default_na=False,
                     na_values=[''])

In [8]:
visited

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [9]:
visited.ix[pd.isnull(visited.dated), ]

   ident  site dated
5    752  DR-3   NaN

In [10]:
pd.isnull(visited.dated)

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
Name: dated, dtype: bool